In [1]:
import psycopg2

from geoalchemy2 import Geometry, WKTElement
from sqlalchemy import *

import geopandas as gpd

# Create a database

In [2]:
# Establishing the Connection
conn = psycopg2.connect(
   database="postgres",
   user='postgres',
   password='1333',
   host='127.0.0.1',
   port= '5432'
)

conn.autocommit = True

#Creating a Cursor Object Using the Cursor() Method
cursor = conn.cursor()

#Preparing Query to Create a Database
sql = '''CREATE database geodatabase''';

#Creating a Database
cursor.execute(sql)

print("Database Created Successfully........")

#Closing the Connection
conn.close()

Database Created Successfully........

# Load Data

In [25]:
point = gpd.read_file('GeoDatabase/wellPoint.geojson')
point.head()

,ID,MAHDOUDE_NAME,AQUIFER_NAME,LOCATION_NAME,XUTM,YUTM,ZONEUTM,X,Y,LEVEL_MSL,LEVEL_SRTM,geometry
0,1,درونه,درونه,جنوب مهلار,547900,3889650,40,57.53,35.15,None,836.0,POINT (57.53000 35.15000)
1,2,درونه,درونه,دهنه برق,530350,3890750,40,57.33,35.16,None,879.0,POINT (57.33000 35.16000)
2,3,درونه,درونه,شرق جاده طبس,530900,3885550,40,57.34,35.11,None,811.0,POINT (57.34000 35.11000)
3,4,درونه,درونه,شرق چاه سليماني,547000,3895250,40,57.52,35.20,None,882.0,POINT (57.52000 35.20000)
4,5,درونه,درونه,شركت ستنج,553650,3892250,40,57.59,35.17,None,873.0,POINT (57.59000 35.17000)

In [26]:
point['geometry'] = point['geometry'].apply(lambda x: WKTElement(x.wkt, srid = 4326))

point.head()

/home/shirazipooya/w/KHRW-DASHBOARD/.venv/lib/python3.9/site-packages/geopandas/geodataframe.py:1321: UserWarning: Geometry column does not contain geometry.
  warnings.warn("Geometry column does not contain geometry.")

,ID,MAHDOUDE_NAME,AQUIFER_NAME,LOCATION_NAME,XUTM,YUTM,ZONEUTM,X,Y,LEVEL_MSL,LEVEL_SRTM,geometry
0,1,درونه,درونه,جنوب مهلار,547900,3889650,40,57.53,35.15,None,836.0,POINT (57.53 35.15)
1,2,درونه,درونه,دهنه برق,530350,3890750,40,57.33,35.16,None,879.0,POINT (57.33 35.16)
2,3,درونه,درونه,شرق جاده طبس,530900,3885550,40,57.34,35.11,None,811.0,POINT (57.34 35.11)
3,4,درونه,درونه,شرق چاه سليماني,547000,3895250,40,57.52,35.20,None,882.0,POINT (57.52 35.2)
4,5,درونه,درونه,شركت ستنج,553650,3892250,40,57.59,35.17,None,873.0,POINT (57.59 35.17)

# Connect to DataBase

In [27]:
db_url = "postgresql://postgres:1333@127.0.0.1:5432/geodatabase"

engine = create_engine(db_url, echo=False)

In [28]:
point.to_sql(
    'wellpoints',
    engine,
    if_exists='append',
    index=True,
    dtype={'geometry': Geometry(geometry_type='POINT', srid= 4326)}
)

In [37]:
sql = "select * from wellpoints"

df = gpd.GeoDataFrame.from_postgis(sql, engine, geom_col='geometry' )

df

,index,ID,MAHDOUDE_NAME,AQUIFER_NAME,LOCATION_NAME,XUTM,YUTM,ZONEUTM,X,Y,LEVEL_MSL,LEVEL_SRTM,geometry
0,0,1,درونه,درونه,جنوب مهلار,547900,3889650,40,57.53,35.15,None,836.0,POINT (57.53000 35.15000)
1,1,2,درونه,درونه,دهنه برق,530350,3890750,40,57.33,35.16,None,879.0,POINT (57.33000 35.16000)
2,2,3,درونه,درونه,شرق جاده طبس,530900,3885550,40,57.34,35.11,None,811.0,POINT (57.34000 35.11000)
3,3,4,درونه,درونه,شرق چاه سليماني,547000,3895250,40,57.52,35.20,None,882.0,POINT (57.52000 35.20000)
4,4,5,درونه,درونه,شركت ستنج,553650,3892250,40,57.59,35.17,None,873.0,POINT (57.59000 35.17000)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,474,746,كرات,كرات,جنوب احمددرويش,292696,3827230,41,60.74,34.57,None,863.0,POINT (60.74000 34.57000)
475,475,747,كرات,كرات,فرزنه,285604,3822143,41,60.66,34.52,None,975.0,POINT (60.66000 34.52000)
476,476,748,كرات,كرات,كال كاريچه,284890,3835565,41,60.65,34.64,None,918.0,POINT (60.65000 34.64000)
477,477,749,كرات,كرات,پاسگاه ميل كج,292950,3823200,41,60.74,34.53,None,866.0,POINT (60.74000 34.53000)
478,478,750,كرات,كرات,پنج چاهي,292037,3819026,41,60.74,34.49,None,892.0,POINT (60.74000 34.49000)

In [38]:
engine.close()

AttributeError: 'Engine' object has no attribute 'close'

In [10]:
import pandas as pd
import geopandas as gpd

import psycopg2
from sqlalchemy import *
from geoalchemy2 import Geometry, WKTElement


# Connect to layers DataBase
db_layers_url = "postgresql://postgres:1333@127.0.0.1:5432/layers"
engine = create_engine(db_layers_url, echo=False)


# Load Layers:

# Wells:
wells = gpd.read_file('../Assets/GeoDatabase/GeoJson/Wells.geojson')
wells = wells.to_crs({'init': 'epsg:4326'})
COLs = ['MAHDOUDE_NAME', 'AQUIFER_NAME', 'LOCATION_NAME']
wells[COLs] = wells[COLs].apply(lambda x: x.str.replace('ي','ی'))
wells[COLs] = wells[COLs].apply(lambda x: x.str.replace('ئ','ی'))

# Aquifers:
aquifers = gpd.read_file('../Assets/GeoDatabase/GeoJson/Aquifers.geojson')
aquifers = aquifers.to_crs({'init': 'epsg:4326'})
COLs = ['MAHDOUDE_NAME', 'AQUIFER_NAME']
aquifers[COLs] = aquifers[COLs].apply(lambda x: x.str.replace('ي','ی'))
aquifers[COLs] = aquifers[COLs].apply(lambda x: x.str.replace('ئ','ی'))
aquifers[COLs] = aquifers[COLs].apply(lambda x: x.str.replace('ك', 'ک'))

wells['geometry'] = wells['geometry'].apply(lambda x: WKTElement(x.wkt, srid = 4326))
aquifers['geometry'] = aquifers['geometry'].apply(lambda x: WKTElement(x.wkt, srid = 4326))

# Save to DataBase:

# Wells
wells.to_sql(
    'wells',
    engine,
    if_exists='replace',
    index=False,
    dtype={'geometry': Geometry(geometry_type='POINT', srid= 4326)}
)

# Aquifers
aquifers.to_sql(
    'aquifers',
    engine,
    if_exists='replace',
    index=False,
    dtype={'geometry': Geometry(geometry_type='MULTIPOLYGON', srid= 4326)}
)

/home/shirazipooya/w/KHRW-DASHBOARD/.venv/lib/python3.9/site-packages/pyproj/crs/crs.py:131: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
/home/shirazipooya/w/KHRW-DASHBOARD/.venv/lib/python3.9/site-packages/pyproj/crs/crs.py:131: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
/home/shirazipooya/w/KHRW-DASHBOARD/.venv/lib/python3.9/site-packages/geopandas/geodataframe.py:1321: UserWarning: Geometry column does not contain geometry.
  warnings.warn("Geometry column does not contain geometry.")
/home/shirazipooya/w/KHRW-DASHBOARD/.venv/lib/python3.9/site-packages/geopandas/geodataframe.py:1321: UserWarning: Geometry column does not contain geometry.
  warnings.warn("Geometry column does not contain geometry.")

In [6]:
wells

,ID,MAHDOUDE_NAME,AQUIFER_NAME,LOCATION_NAME,XUTM,YUTM,ZONEUTM,X,Y,LEVEL_MSL,LEVEL_SRTM,geometry
0,1,درونه,درونه,جنوب مهلار,547900,3889650,40,57.53,35.15,None,836.0,POINT (57.53000 35.15000)
1,2,درونه,درونه,دهنه برق,530350,3890750,40,57.33,35.16,None,879.0,POINT (57.33000 35.16000)
2,3,درونه,درونه,شرق جاده طبس,530900,3885550,40,57.34,35.11,None,811.0,POINT (57.34000 35.11000)
3,4,درونه,درونه,شرق چاه سلیمانی,547000,3895250,40,57.52,35.20,None,882.0,POINT (57.52000 35.20000)
4,5,درونه,درونه,شرکت ستنج,553650,3892250,40,57.59,35.17,None,873.0,POINT (57.59000 35.17000)
...,...,...,...,...,...,...,...,...,...,...,...,...
474,746,کرات,کرات,جنوب احمددرویش,292696,3827230,41,60.74,34.57,None,863.0,POINT (60.74000 34.57000)
475,747,کرات,کرات,فرزنه,285604,3822143,41,60.66,34.52,None,975.0,POINT (60.66000 34.52000)
476,748,کرات,کرات,کال کاریچه,284890,3835565,41,60.65,34.64,None,918.0,POINT (60.65000 34.64000)
477,749,کرات,کرات,پاسگاه میل کج,292950,3823200,41,60.74,34.53,None,866.0,POINT (60.74000 34.53000)
478,750,کرات,کرات,پنج چاهی,292037,3819026,41,60.74,34.49,None,892.0,POINT (60.74000 34.49000)