In [8]:
import pandas as pd

xls = pd.ExcelFile('DATA.xlsx')
Data = pd.read_excel(xls, sheet_name='Data')
Data = Data.drop_duplicates()
GeoInfo = pd.read_excel(xls, sheet_name='GeoInfo')

In [9]:
DATA_merged = pd.merge(Data, GeoInfo, how="outer", on=["code", "name_mahal"])
DATA_merged.sort_values(by=["code", "name_mahal"]).to_excel('DATA_merged.xlsx', index=False)

In [17]:
Data

      code          mahdoodeh           name_mahal
0     6006    نريماني - ميامي          شمال ابروان
1     6006    نريماني - ميامي               ابروان
2     6006    نريماني - ميامي                سليقه
3     6006    نريماني - ميامي      حسن اباد ابروان
4     6006    نريماني - ميامي              نريماني
...    ...                ...                  ...
3127  6010  فريمان - تربت جام         اراضي سماخون
3128  6010  فريمان - تربت جام        اراضي رضااباد
3129  6010  فريمان - تربت جام      اراضي رحمت اباد
3784  6010  فريمان - تربت جام     فريمان   راه اقر
4356  6001               درگز  نوخنـدان - دربنـــد

[750 rows x 3 columns]

In [10]:
DATA_merged

,code,mahdoodeh,name_mahal,Zone,UTM_X,UTM_Y,X,Y,elevation
0,6006,نريماني - ميامي,شمال ابروان,40,768983,3999984,36.107289,59.988104,910.0
1,6006,نريماني - ميامي,ابروان,40,766656,3996493,36.076499,59.961104,937.0
2,6006,نريماني - ميامي,سليقه,40,769555,3986140,35.982485,59.989730,978.0
3,6006,نريماني - ميامي,حسن اباد ابروان,41,232150,3994993,36.062665,60.026162,907.0
4,6006,نريماني - ميامي,نريماني,41,236323,3984531,35.969604,60.075923,937.0
...,...,...,...,...,...,...,...,...,...
745,6010,فريمان - تربت جام,اراضي سماخون,41,253045,3934559,35.523928,60.276553,1157.0
746,6010,فريمان - تربت جام,اراضي رضااباد,41,290903,3900661,35.227225,60.702405,866.0
747,6010,فريمان - تربت جام,اراضي رحمت اباد,41,296893,3900453,35.226582,60.768231,858.0
748,6010,فريمان - تربت جام,فريمان راه اقر,40,760477,3957588,35.727849,59.879838,1366.0
749,6001,درگز,نوخنـدان - دربنـــد,40,675453,4153751,37.514045,58.985254,606.0